* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}



html[data-theme='light'] {
  width: 100%;
  height: 980px;
  background-repeat: no-repeat;
  background: linear-gradient(
    to bottom right,
    rgb(180, 152, 245) 10%,
    rgb(212, 143, 240) 18%,
    rgb(242, 252, 200) 40%
  );
   --text-color: #000000;
   --link-color: #543fd7;
   --btn-color: #ffffff;
}



html[data-theme='dark'] {
  width: 100%;
  height: 980px;
  background-repeat: no-repeat;
  background: linear-gradient(
    to bottom right,
    rgb(78, 59, 121) 10%,
    rgb(146, 34, 190) 18%,
    rgb(37, 36, 37) 40%
  );
  --text-color: #ffffff;
  --link-color: #543fd7;
 
}

/* nav-bar */

.nav-bar {
  position: absolute;
  width: 90%;
  display: inline;

  text-align: center;
  top: 24px;
  padding: 18px;
  height: 36px;
}

#logo {
  position: absolute;
  left: calc(50% - 61px / 2 - 482.5px);
  top: 14px;
  display: inline-block;

  color: var(--text-color);
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700px;
  line-height: 36px;
  font-style: normal;
}

a {
  padding: 12px;
  text-decoration: none;
  color: var(--text-color);

  font-size: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  transition-duration: 0.5s;
}
a:hover {
  background-color: var(--cora);
  color: var(--escuro);
}
#tema {
  position: absolute;
  right: calc(50% - 61px / 2 - 482.5px);
  top: 14px;
  display: inline-block;

  cursor: pointer;
  color: var(--text-color);
  font-size: 24px;
}

/* Meu body */
.conteudo {
  position: absolute;
  top: 25%;
  display: flex;
  padding: 18px;
}
.textoPrincipal {
  width: 580px;
  height: 200px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;

  color: var(--text-color);
}
.paragrafoMain {
  color: var(--text-color);
  padding: 5px;
  height: 110px;

  text-indent: 10px;
  font-weight: 400;
  font-size: 22px;
  font-family: "Poppins";
}
.textoPerfil {
  width: 50%;
  height: 440px;
  padding: 19px;
}
span {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #1b0d4e 0%,
    #7904f7 29%,
    #2e0168 67%,
    #ebeba5 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 28px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* btn */
.glow-on-hover1 {
  font-weight: 600;

  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: var(--btn-color);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover1:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover1:active {
  color: #000;
}

.glow-on-hover1:active:after {
  background: transparent;
}

.glow-on-hover1:hover:before {
  opacity: 1;
}

.glow-on-hover1:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing1 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn {
  color: var(--btn-color);
}

.imagemPerfil {
  background-image: url(../srcs/programming-animate.svg);
  background-repeat: no-repeat;
  background-position: center;

  width: 50%;
  height: 400px;
  padding: 19px;
}

/* Projects */

.character {
  background-image: url(../srcs/nerd-animate.svg);
  background-repeat: no-repeat;
  background-position: center;

  width: 50%;
  height: 400px;
  padding: 19px;
}

/* botao*/

.glow-on-hover {
  top: 390px;
  width: 80px;
  height: 80px;
  left: 70%;
  right: auto;

  border: none;
  outline: none;
  color: var(--btn-color);
  background: #111;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover i {
  font-size: 60px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: var(--btn-color);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.projectLink a {
  color: var(--link-color)
}
.projectLink a:hover {
  color: rgb(33, 182, 231);
}

